<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
</head>
<div th:fragment="footer">
		<footer>
		<div class="container-fluid footer">
			<div class="row  mt-3 pt-3">
				<div class="col-12 ">
					<a href=""><img class="img-fluid mt-4 d-block mx-auto " src="http://localhost:8082/image/a.png" width="80px" height="auto"></a>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm-5 mx-auto">
					<ul class=" navbar-nav text-center mt-3 pb-3 d-flex flex-row justify-content-between slidefooter  ">
						<li class="nav-item">
							<a class="nav-link  " href="http://localhost:8082/faculty">Faculty</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  " href="http://localhost:8082/major">Major</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="http://localhost:8082/subject">Subject</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="http://localhost:8082/teacher">Teacher</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="http://localhost:8082/student">Student</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="http://localhost:8082/scoring">Scoring</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>