<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
</head>
<div th:fragment="header">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light navcolor navbar-fixed-top bg-faded ">
			<div class="container-fluid ">
				<a class="navbar-brand pl-5" th:href=@{http://localhost:8082/}><img class="img-fluid"
					src="http://localhost:8082/image/a.png" width="55px" height="auto"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto  ">
						<li class="nav-item"><a class="nav-link textcolor " href="http://localhost:8082/faculty">Faculty</a>
						</li>
						<li class="nav-item"><a class="nav-link textcolor " href="http://localhost:8082/major">Major</a>
						</li>
						<li class="nav-item"><a class="nav-link textcolor" href="http://localhost:8082/subject">Subject</a>
						</li>
						<li class="nav-item"><a class="nav-link textcolor" href="http://localhost:8082/teacher">Teacher</a>
						</li>
						<li class="nav-item"><a class="nav-link textcolor" href="http://localhost:8082/student">Student</a>
						</li>
						<li class="nav-item "><a class="nav-link textcolor" href="http://localhost:8082/scoring">Scoring</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>
	</header>
	<!-- end navbar header -->
</div>