<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org/doc/articles/fromhtmltohtmlviahtml.html">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="shortcut icon" href="favicon.ico" />
<title>Faculty</title>
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet"
	href="http://localhost:8082/vendor/fontawesome/css/all.css">
<link rel="stylesheet"
	href="http://localhost:8082/vendor/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	<section class="container">
		<div class="row">
			<div class="col-sm-12">
				<i class="fas fa-book-open iconsize d-block text-center"></i>
				<h1 class="text-center mt-1 mb-4">Faculty</h1>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-sm-10">
				<form class="form-inline"
					th:action="@{http://localhost:8082/faculty/search}" method="GET">
					<input class="form-control col-sm-6" type="search" name="keyword"
						placeholder="Search by name, address and phone" required>
					<button type="Submit" class="btn btn-primary mx-3 rounded">
					<i class="fas fa-search"></i>
					Search</button>
				</form>
			</div>
			<div class="col-sm-2 text-right">
				<a class="btn btn-primary "
					th:href="@{http://localhost:8082/faculty/add}">
					<i class="fas fa-plus"></i>
					Create</a>
			</div>

		</div>

		<div class="row">
			<table th:object="${faculty}"
				class="table table-bordered text-center" id="myTable">
				<thead class="tabletitle">
					<tr>
						<th>Faculty Id</th>
						<th>Faculty Name</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fa: ${Faculty}">
						<td th:text=${fa.FacultyId}></td>
						<td th:text=${fa.FacultyName}></td>
						<td th:text=${fa.Address}></td>
						<td th:text=${fa.Phone}></td>
						<td><a
							th:href="@{http://localhost:8082/faculty/delete/{id}(id=${fa.FacultyId})}"><button
									class="btn btn-danger btn-sm">Delete</button></a> <a
							th:href="@{http://localhost:8082/faculty/edit/{id}(id=${fa.FacultyId})}"><button
									class="btn btn-success btn-sm">Modify</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<div th:replace="footer :: footer"></div>
	<script type="text/javascript"
		src="http://localhost:8082/javascript.js"></script>
	<script type="text/javascript"
		src="http://localhost:8082/jquery-3.5.1.min.js"></script>
	<script type="text/javascript"
		src="http://localhost:8082/popper.min.js"></script>
	<script type="text/javascript"
		src="http://localhost:8082/vendor/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>