<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org/doc/articles/fromhtmltohtmlviahtml.html">
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="shortcut icon" href="favicon.ico" />
<title>Edit Faculty</title>
<link rel="shortcut icon" href="http://localhost:8082/favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet"
	href="http://localhost:8082/vendor/fontawesome/css/all.css">
<link rel="stylesheet"
	href="http://localhost:8082/vendor/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	<section class="container">
		<div class="row">
			<div class="col-sm-12">
				<i class="fas fa-university iconsize d-block text-center"></i>
				<h1 class="text-center mt-1 mb-4">Edit Faculty</h1>
				<form method="POST">
					<div>
						<table class="table table-bordered text-center" >
							<thead class="tabletitle">
								<tr class="tabletitle">
									<th>Information</th>
									<th>Add</th>
								</tr>
							</thead>
							<tbody class="form-group" th:object="${faculty}">
								<tr>
								<tr>
									<td>Faculty Name</td>
									<td><input class="form-control" name="name" type="text" required
										pattern="[\s\p{L}]+" maxlength="50" th:value="${faculty}?${faculty.facultyName}:'' " /></td>
								</tr>
								<tr>
									<td>Address</td>
									<td><input class="form-control" name="add" type="text" required
										pattern="[\s\p{L}0-9]+" maxlength="50" th:value="${faculty}?${faculty.address}:'' " /></td>
								</tr>
								<tr>
									<td>Phone</td>
									<td><input class="form-control" name="phone" type="text"
										pattern="[0-9]{10}" required th:value="${faculty}?${faculty.phone} :'' " /></td>

								</tr>
							</tbody>
						</table>
						<h5 class="text-danger text-center" th:text="${message}"></h5>
						<div>
							<input class=" d-block m-auto btn  btn-primary add" type="submit"
								value="Update Falcuty" />
						</div>
					</div>
				</form>			
			</div>

		</div>
	</section>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript"
		src="http://localhost:8082/javascript.js"></script>
	<script type="text/javascript"
		src="http://localhost:8082/jquery-3.5.1.min.js"></script>
	<script type="text/javascript"
		src="http://localhost:8082/popper.min.js"></script>
	<script type="text/javascript"
		src="http://localhost:8082/vendor/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>